<div class="student_list">

	<input ng-model="query" type="text" placeholder="Search Student Name"/>
	<ul>
		<li ng-repeat="item in items" ng-show="([item.name] | filter:query).length" style="list-style-type:none" ng-class="activeCheck(item.id)" >
			<p class="student_row_text" >{{item.name}}</p>
			<p class="student_row_text" >{{item.data[item.data.length - 1].value}}</p>
			
			<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" class="svg_button">
				<circle cx="10" cy="10" r="10" class="student_row_button"  ng-click="listClick(item.id, 'student')"></circle>
				<polyline fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="5,10  15,10 10,17  15,10 10,3" class="student_row_button_inv" ng-click="listClick(item.id, 'student')"/>
			</svg>
		</li>
	</ul>

</div>


