
<div ng-module="app.components.litProChart" class="LitProChart">
  <student-list-chart rawdata="rawChartData" activeobj="chartCtrl.activeObj" listclick="chartCtrl.listClick"></student-list-chart>
    <div ng-if="chartType === 'scatter'" class="chart_div">
      <scatter-chart rawdata="rawChartData" activeobj="chartCtrl.activeObj" listclick="chartCtrl.listClick" timearray="timeArray"></scatter-chart>
    </div>
    <div ng-if="chartType === 'multiSeriesBar'" class="chart_div">
      <bar-chart rawdata="rawChartData" activeobj="chartCtrl.activeObj" listclick="chartCtrl.listClick" timearray="timeArray"></bar-chart>
    </div>
</div>





